:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-de-texto: #464646;
   --cor-azul: #2A7AE4;
   --cor-red-one: #cc2c09;
}

body {
    box-sizing: border-box;
    background: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: var(--cor-de-texto);
}
.menu__logo{
    display: flex;
    padding: 4px;
    align-items: center;
}
.menu__title{
    margin-left: 8px;
}
.menu__list{
    display: flex;
    padding: 4px;
}
.menu__list__item{
    margin: 0 8px;
    padding: 8px;
    color: var(--cor-de-texto);
}
.menu__list__item__contato{
    display: none;
}

/* Efeitos do menu */
.menu__list__item:hover{
    font-weight: 700;
    border-bottom: 1px solid #2A7AE4;
}
/*Sessão Title*/

section.title{
    display: flex;
    padding: 0 2rem;
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.title__profile{
    border-radius: 50%;
    height: 85%;
}
.title__bio{
    font-size: 52px;
    color: var(--cor-de-texto);
}
.title__subsection{
    font-size: 22;
    font-weight: 500;
    color: var(--cor-de-texto);
}
.title__network{
    display: flex;
    padding: 0;
}
.title__network__item{
    color: var(--cor-de-texto);
    margin-right: 32px;
}
.title__network__item:hover{
    font-weight: 700;
    border-bottom: 1px solid #2A7AE4;
}
/*Sessão About*/

section.about{
    background-color: #EAF2FD;
    padding: 64px 0;
}

.about__container{
    padding: 0 2rem; 
}
.about__title {
    font-size: 32px;
    font-weight: 700;
    color: var(--cor-de-texto);
}
.about__paragraph{
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 400;
}

/*Sessão Skills*/
section.skills{
    padding: 0 2rem;
    margin-bottom: 88px;
}
.skills__title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skills__box{
    background-color: white;
    width: 176px;
    height: 174px;
    display: flex;
    margin: 8px;
}
.skills__box ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem;   
}

/*Sessão Hobbies*/

section.hobbies{
    padding: 0 2rem;
    margin-bottom: 88px;
}
.hobbies__title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hobbies__box{
    background-color: white;
    width: 176px;
    height: 174px;
    display: flex;
    margin: 8px;
}
.hobbies__box ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem;   
}


/* Experiência Acadêmica*/

section.academic{
    padding-top: 82px;
    padding-bottom: 108px;
    background: #EAF2FD;
    box-sizing: border-box;
}
.academic__title{
    text-align: center;
    margin-bottom: 32px;
}
.academic__courses{
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
}
.academic__courses__box{
    display: flex;
    flex-direction: column;
}
.academic__courses__list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 ;
}
.academic__courses__item__img{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 286px;
}
.academic__courses__item__title{
    width: fit-content;
    font-weight: 700;
    font-size: 22px;
}
.academic__courses__item__title h4{
    padding: 0;
    margin: 8px 0 0 0;
}
.academic__courses__item__subtitle{
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
}
.academic__courses__item__subtitle p{
    padding: 0;
    margin: 8px 0 0 0;
}


/* experiência*/

section.experience{
    padding: 0 2rem;
    margin-bottom: 32px;
}
.experience__section__title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.experiencie__box{
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px;
}
.experience__img{
    width: 750px;
    height: 400px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.experience__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding: 0;
    margin: 0;
}
.experience__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;
    padding: 0;
}
.experience__description{
    display: flex;
    gap: 10px;
}
.experiencia__botao--repo{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 105px;
    height: 51px;
}
.experiencia__botao--demo{
    font-size: 16px;
    line-height: 19px;
    color: #ffff;
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 105px;
    height: 51px;
}
.box__2{
    flex-direction: row-reverse;
    justify-content: space-between;
}

/*Contato*/

section.formcontato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 10px;
    background-color: #EAF2FD;
}
.formcontato__contacto{
    margin: 32px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 64px 0px 0px;
    gap: 16px;
}
.formcontato__img{
    width: 464px;
    height: 593px;
}
.formcontato__text{
    display: flex;
    flex-direction: column;
}
.formcontato__head{
    margin-bottom: 32px;
}
.formcontato__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding: 0;
    margin: 0;
}
.formcontato__subtext{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    margin: 0;
}
.formcontato__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
.formcontato__input{
        border: none;
        border-radius: 4px;
        padding: 10px;
        width: 97%;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
}
.formcontato__textarea {
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 97%;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.formcontato__botao{
    padding: 16px;
    width: 165px;
    height: 51px;
    background: #2A7AE4;
    border: none;
    color: white;
}
/*footeer*/

section.footer{
    background-color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__rodape___title{
    margin: 0;
    padding:  0;
}
.footer__socials{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}
.footer__socials a{
    text-decoration: none;
    color: #2A7AE4;
}
.footer__socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.footer__socials a:hover i{
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px gray;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}
/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/

/*Formação Acadêmica*/

/*Experiência Profissional*/

/*Contato*/

/*Footer*/

}
/*Mobile*/
@media (min-width: 300px) {
/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/

/*Formação Acadêmica*/

/*Experiência Profissional*/

/*Contato*/

/*Footer*/

}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}
button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    opacity: 0.9;
}
